body {
	width: 100%;
	margin: 0 auto;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: white;
}

.page {
	height: 100%;
	width: 100%;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

.form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex: 1 0 auto;
	width: 100%;
	margin: 10px 0 20px 0;
}

.gridElement {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 20px;
	flex: none;
}

textarea:focus,
button:focus,
.expandableHeader:focus {
	outline: none;
}

textarea:focus,
button:focus,
.expandableHeader:focus:before {
	box-shadow: 0 0 0  1.5px #CCF;
}

textarea {
	width: 100%;
	height: 80%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #AAA;
	resize: none;
	font-family: monospace;
	z-index: 2;
}

.suggestions {
	display: block;
	position: absolute;
	top: 80%;
	left: 0;
	margin: 0;
	margin-top: -10px;
	padding: 0;
	padding-top: 10px;
	width: 100%;
	border: 1px solid #AAA;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	text-indent: 0;
	overflow: hidden;
	cursor: default;
	z-index: 1;
}

.suggestions:empty {
	display: none;
}

.suggestions li {
	padding: 6px;
	overflow: hidden;
	background-color: white;
	text-overflow: ellipsis;
	font-family: monospace;
}

.suggestions li.selected {
	background-color: #ECECEC;
}

button {
	border-radius: 5px;
	border: 1px solid #888;
	background: linear-gradient(to bottom, #FAFAFA 0%,#DDD 100%);
	padding: 5px;
	cursor: pointer;
}

button:hover {
	background: linear-gradient(to bottom, #FAFAFF 0%,#DDF 100%);
}

.justifyHeight {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.gridElement button {
	padding: 5px;
	width: 100px;
}

.gridBreak {
	width: 100%;
	height: 0;
	flex: none;
}

#skullCanvas {
	border-radius: 10px;
	background-color: black;
}

code {
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 0 2px;
	font-family: monospace;
}

.markupDescription {
	margin-top: 20px;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding-left: 35px;
	text-indent: -20px;
}

.markupDescription .example {
	height: 12px;
	margin-top: 5px;
	font-weight: bold;
}

.markupDescription .example img {
	margin: -4px 3px;
	image-rendering: -webkit-optimize-contrast
}

.checkboxWrapper {
	height: auto;
	vertical-align: top;
	font-size: 83%;
	margin-bottom: 10px;
}

.checkboxHighlight {
	border-radius: 10px;
	border: 1px solid #AAA;
	padding: 5px;
}

.checkboxWrapper input {
	width: 15px;
	height: 15px;
	margin: 0;
	margin-left: 9px;
	position: relative;
	top: 2px;
	cursor: pointer;
}

.checkboxWrapper label {
	padding-left: 9px;
	font-weight: bold;
	position: relative;
	top: -1px;
	cursor: pointer;
}

.checkboxWrapper p {
	margin: 10px 0;
}

hr {
	margin: 0 auto;
	width: 80%;
	min-width: 300px;
}

.description {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	flex: none;
	width: 70vw;
	min-width: 300px;
	max-width: 640px;
	margin: 20px 0 0;
}

.description * {
	width: 100%;
}

.description h1 {
	margin: 10px 0;
	margin-bottom: 10px;
	text-align: center;
}

.description .github {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(pics/github.png) 0 / 100%;
	vertical-align: middle;
	margin: 0 5px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-transition: opacity 0.5s; /* Safari */
	transition: opacity 0.5s;
	opacity: .2;
}

.description .github:hover {
	opacity: .85;
}

.description p {
	margin: 5px 0;
	text-align: justify;
}

.compact {
	font-size: 83%;
}

.compact p, .compact div, .compact li, .compact ul {
	margin: 2px;
	width: auto;
}

.compact h1 {
	font-size: larger;
	margin: 3px 0;
}

strong {
	font-weight: bolder;
}

.description .tips {
	position: relative;
	border-radius: 10px;
	min-width: 325px;
	max-width: 650px;
	width: 101%;
	box-sizing: border-box;
	margin: 10px 0;
	background-color: #EEE;
	padding: 40px;
}

.tips:after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 10px;
	border: 2px dashed #555;
}

.tips .tip {
	margin-bottom: 15px;
}

.tips h1 {
	margin: initial;
	margin-bottom: 10px;
	font-size: large;
	text-align: left;
}

.good, .bad {
	width: auto!important;
	display: inline-block;
	border-radius: 999px;
	font-weight: bold;
	padding: 1px 8px;
}

.good {
	background-color: #20FF20;
	color: #004000;
}

.bad {
	background-color: #FF7070;
	color: #300000;
}

.expandable {
	width: 800px;
	max-width: 95vw;
	max-height: 800px;
	-webkit-transition: max-height 0.5s, width 0.3s 0.1s; /* Safari */
	transition: max-height 0.5s, width 0.3s 0.1s;
	overflow: hidden;
	margin: 20px 0;
	border-radius: 10px;
	border: 1px solid #555;
}

.expandable.minimized {
	max-height: 38px;
	width: 100%;
	-webkit-transition: max-height 0.5s, width 0.2s; /* Safari */
	transition: max-height 0.5s, width 0.2s;
}

.expandable .expandableHeader {
	box-sizing: border-box;
	height: 38px;
	width: auto;
	margin: 0;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	padding: 3.5px 15px;
	overflow: hidden;
}

.expandable .expandableHeader:before {
	content: "Hide";
	position: relative;
	top: -2px;
	display: inline-block;
	padding: 2px;
	margin-right: 15px;
	width: 60px;
	line-height: 18px;
	text-align: center;
	font-size: 13px;
	border-radius: 5px;
	border: 1px solid #888;
	background: linear-gradient(to bottom, #FAFAFA 0%,#DDD 100%);
}

.expandable .expandableHeader:hover:before {
	background: linear-gradient(to bottom, #FAFAFF 0%,#DDF 100%);
}

.expandable.minimized .expandableHeader:before {
	content: "Show";
}

.expandableContent {
	overflow: hidden;
	margin: 0;
	width: 100%;
	padding: 0;
	border-top: 1px solid #555;
}

.expandableContent * {
	width: auto;
	margin: 0;
}

.comicCodes {
	table-layout: fixed;
	padding: 10px 0;
	border-collapse: collapse;
	width: 100%;
}

.comicCodes td {
	padding: 2px 1px;
	height: 100%;
}

.comicCodes tr:nth-child(odd) {
	background-color: #FCFCFC;
}

.comicCodes tr:nth-child(even) {
	background-color: #F2F2F2;
}

.comicCodes tr.selectedRow:nth-child(odd) {
	background-color: #F8F8FF;
}

.comicCodes tr.selectedRow:nth-child(even) {
	background-color: #E7E7FF;
}

.comicCodes tr.selectedRow .code {
	background-color: #CCCCFF;
	border-color: #AAAAFF;
}

.comicCodes tr.selectedRow .emptyCode {
	background-color: #DDDDFF;
	border-color: #CCCCFF;
}

.comicCodes th,
.comicCodes td:nth-child(1),
.comicCodes td:nth-child(4) {
	padding: 0 2px;
	text-align: center;
	vertical-align: middle;
}

.comicCodes th:nth-child(2),
.comicCodes th:nth-child(3) {
	width: 25%;
}

.comicCodes th:nth-child(1),
.comicCodes th:nth-child(4) {
	width: 20%;
}

.comicCodes .code {
	height: 80px;
	vertical-align: top;
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 0 2px;
	font-family: monospace;
	white-space: nowrap;
	overflow: auto;
}

.comicCodes .emptyCode {
	height: 80px;
	background-color: #FAFAFA;
	border: 1px solid #EEE;
}

.copyMarkupButton {
	height: 50px;
	max-width: 100%;
	padding: 5%;
	overflow: hidden;
}

ins, del {
	margin: 0!important;
	text-decoration: underline;
}

del {
	background-color: #FFC0C0;
}

ins {
	background-color: #B0FFB0;
}

.attribution {
	display: inline-block;
	margin: 0;
	padding: 18px 20px;
	float: right;
	text-align: right;
	color: #222;
	font-style: italic;
}

.attribution * {
	margin: 0;
	width: 100%;
	font-size: 12px;
}

.attribution .tiny {
	font-size: 2px;
}
